<style type="text/css">
table.hovertable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
}
table.hovertable th {
	background-color:#c3dde0;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}
table.hovertable tr {
	background-color:#d4e3e5;
}
table.hovertable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}
</style>
 
</br>
</br>
<div style="margin-left: 538px;">
 <table class="hovertable">
 
<tr><td><h1>A</h1><td><%=  !@a_url.blank? ?  @a_url :  "No Data"%></td></tr>
 
<tr><td><h1>B</h1><td><%=  !@b_region.blank? ? @b_region :  "No Data" %></td></tr>

<tr><td><h1>C</h1><td><%=  !@c_headline.blank? ? @c_headline :  "No Data" %></td></tr>
<tr><td><h1>D</h1><td><%=  !@d_sub_head.blank? ? @d_sub_head :  "No Data" %></td></tr>
<tr><td><h1>E</h1><td><%=  !@e_first_para.blank? ? @e_first_para :  "No Data" %></td></tr>
<tr><td><h1>F</h1><td><%=  !@f_address.blank? ? @f_address :  "No Data" %></td></tr>
<tr><td><h1>G</h1><td><%=  !@g_sld .blank? ? @g_sld  :  "No Data" %></td></tr>
<tr><td><h1>H</h1><td><%=  !@h_details.blank? ? @h_details :  "No Data" %></td></tr>
<tr><td><h1>I</h1><td><%=  !@i_prop_id.blank? ? @i_prop_id :  "No Data" %></td></tr>
<tr><td><h1>J</h1><td><%=  !@j_mobile.blank? ? @j_mobile :  "No Data" %></td></tr>
<tr><td><h1>K</h1><td><%=  !@k_phone.blank? ? @k_phone :  "No Data" %></td></tr>
<tr><td><h1>L</h1><td><%=  !@l_website.blank? ? @l_website :  "No Data" %></td></tr>
<tr><td><h1>M</h1><td><%=  !@m_freehold.blank? ? @m_freehold :  "No Data" %></td></tr>
<tr><td><h1>N</h1><td><%=  !@n_lease.blank? ? @n_lease :  "No Data" %></td></tr>
<tr><td><h1>O</h1><td><%=  !@o_lease_term.blank? ? @o_lease_term :  "No Data" %></td></tr>
<tr><td><h1>P</h1><td><%=  !@p_residence_included.blank? ? @p_residence_included :  "No Data" %></td></tr>
<tr><td><h1>Q</h1><td><%=  !@q_years_established.blank? ? @q_years_established  :  "No Data" %></td></tr>
<tr><td><h1>R</h1><td><%=  !@r_no_of_employees.blank? ? @r_no_of_employees :  "No Data" %></td></tr>
 
 </table>

</div>

 
